.action-buttons {
  margin: 10px 0;
}
.clearboth {
  clear: both;
}

.crud-actions {
  .btn {
    padding: 0 5px;
  }
  form {
    display: inline-block;
  }
}
table.dataTable {
  border-collapse: collapse;
  thead th {
    color: #000;
  }
}
table.dataTable thead th, table.dataTable thead td, table.dataTable.no-footer {
  border-color: #d3e0e9 !important;
}
.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
  color: #777 !important;
}
.task-details {
  ul {
    padding: 0 0 0 16px;
  }
}
label {
  span.required {
    color: #ff0000;
    font-size: 22px;
    line-height: normal;
  }
}